.checkoutPage {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
}

.productItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.productImage {
    width: 30%;
    height: auto;
}

.total,
.checkoutButton,
.clearCartButton {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.checkoutButton,
.clearCartButton {
    padding: 10px 0;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkoutButton:hover,
.clearCartButton:hover {
    background-color: #004494;
}

.clearCartButton {
    background-color: #f44336;
    margin-bottom: 10px;
}